@import "./cursor.css";

:root {
  --main-text-color: #333439;
  --main-text-accent-color: rgb(147, 165, 182);
  --main-accent-color: #ABC;
  --main-background-color: #FAFAFA;
}

@font-face {
  font-family: 'Dosis';
  src: url(Dosis.ttf);
}
@font-face {
  font-family: 'Ubuntu';
  src: url(Ubuntu.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Ubuntu';
}

body, html {
  min-height: 100vh;
  cursor: none;
}

.responsive-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2em;
  gap: 4em;
}

.title {
  width: 60%;
  text-align: center;
  margin: 2em auto 1em;
  padding: 10px 0;
  font-size: 3em;
  border-radius: 15px;
  background: rgba(95, 102, 173, 0.03);
  box-shadow: 20px 10px 40px -20px rgba(95, 102, 173, 0.5);
  animation: topEntrance 2s;
}

@media screen and (max-width: 500px) {
  .title {
    width: 320px;
  }
}

@keyframes topEntrance {
  0% {
    margin-top: -1em;
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}