@import "./cursor.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body, html {
  min-height: 100vh;
  background-color: rgb(244, 175, 175);
  cursor: none;
}


:root {
    --main-text-color: #333439;
}